


body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;

}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

body {
  background: #5f2c82;  
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
  background: linear-gradient(to right, #49a09d, #5f2c82); 

}

.forgotten-password {

 color: #555;
 text-transform: capitalize;

 font-family: Open Sans Condensed;
 display: block;
 font-weight: lighter;
 font-size: 35 px;

 margin-top: 20px;
 margin-bottom: 5px

}

.password-text {

  font-family: Open Sans Condensed;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 1px;

  color: #555;
  text-transform: capitalize;
  display: block;

  margin-bottom: 20px;
}

.user {

  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin top: 40px;
  margin-bottom: 20px; 

  border-radius: 50%;
  box-shadow: 0 3px 10px 3px #ffffff;

}

.form {
  border-radius: 15px;



  background-color: #ffffff;
  width: 500px;
  height: 410px;
  margin: 150px auto 10px auto;
  padding: 30px;
  overflow: hidden;
  text-align: center;
}

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;

  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}


.btn--blue {
  background: #4a999b
}

.btn--blue:hover {
  background: #5d3183
}


a {

 
  letter-spacing: 1.5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  text-decoration: none;
  padding: 5px;
  display: inline-block;

  font-size: 13.5px;
  color: #555;
  text-transform: capitalize;
  display: block;
  
}

.noProfile {

  margin-top: 2.5%px;

}

.Register{

  border-radius: 20px;

  border: none;
  background: #5f2c82;  
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
  background: linear-gradient(to right, #49a09d, #5f2c82); 

  width: 50%;
  padding: 12px;
  color: #FFFFFF;
  box-shadow: 0 2px 10px -3px #ffffff;
  display: block;
  margin: 1.5% auto 10px auto;

}

.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
   border-radius: 20px;

}

.input--style-4::-webkit-input-placeholder {
  
  color: #666;
}

.input--style-4:-moz-placeholder {
 
  color: #666;
  opacity: 1;
}

.input--style-4::-moz-placeholder {

  color: #666;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  
  color: #666;
}

.input--style-4:-ms-input-placeholder {
 
  color: #666;
}

.label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 2%;

  margin-top: 10%;
}
