<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link th:href="@{css/changePassword.css}" rel="stylesheet"/>

</head>
<body>


<div class="form">
  
  <h1 class="password-text"><center>Type your new password.</center><h1>     

  <div class="input-group">
     <label class="label">New Password</label>
     <input class="input--style-4" type="password" name="password">
  </div>

   <div class="input-group">
     <label class="label">Repeat new password</label>
     <input class="input--style-4" type="password" name="passwordRepeat">
  </div>

  <div class="p-t-15">
     <button class="btn btn--radius-2 btn--blue" style="width: 60%">Send</button>
  </div>
  
</div>


</body>
</html>