<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${authUser.getFirstName()} + ' Change Info'"></title>
    <link rel="stylesheet" th:href="@{css/user-menu-style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="menu">
    <form action="/searchUsers" method="post">
        <input type="text" name="name" class="search-bar" placeholder="Search">
        <button type="submit" class="fa fa-search search-button"></button>
    </form>
    <div class="user-buttons">
        <a th:href="@{${authUser.getId()}}">
            <img th:if="${authUser.getProfilePicture()!=null}"
                 th:src="${authUser.getProfilePicture().getImageURL()}"
                 alt="User Profile Picture" class="user-bar-photo">
            <img th:if="${authUser.getProfilePicture() == null}" src="../images/profile-pic.png" alt=""
                 class="user-bar-photo">
            <span th:text="${authUser.getFirstName()}"></span>
        </a>
        <a th:href="@{/home}">Home</a>
        <button class="fa fa-user"></button>
        <button class="fa fa-envelope"></button>
        <button class="fa fa-bell"></button>
        <button class="fa fa-bars more-button" id></button>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div style="width: 30%; margin: 100px auto">
    <form action="/changeInfo" method="post">
        <label for="fname">Change First Name
            <input type="text" name="firstName" id="fname">
        </label>
        <br>
        <label for="lname">Change Last Name
            <input type="text" name="secondName" id="lname">
        </label>
        <br>
        <label for="date">Change Last Name
            <input type="date" value="00/00/0000" name="birthday" id="date">
        </label>
        <br>
        <label for="tel">Change Telephone Number
            <input type="text" name="telNum" id="tel">
        </label>
        <br>
        <label for="school">Change School
            <input type="text" name="school" id="school">
        </label>
        <br>
        <label for="job">Change job
            <input type="text" name="job" id="job">
        </label>
        <br>
        <label for="city">Change city
            <input type="text" name="city" id="city">
        </label>
        <br>
        <label for="password">Enter your password to continue!
            <input type="password" name="passwordAuth" id="password">
        </label>
        <br>
        <button type="submit">Apply Changes</button>
    </form>
    <br>
    <form action="/changeProfilePhoto" method="post" ></form>
</div>
</body>
</html>