<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<div id="header1">
        <div id="img1">
        <img src="images/logo.png"/>
    </div>
    <div id="profilearea">
        <a href="profile.html"><img src="images/avatar.png"/></a>
    </div>
    <div id="profilearea1">
        <a href="profile.html">Profile</a>
    </div>
</div>
<div id="content">
    <div id="sidebar_left">
    </div>
    <div id="posts">
        <div class="post">
            <div class="post_user_info">
                <div class="avatar">
                    <img src="images/avatar.png"/>
                </div>
                <div class="post_user_info_text">
                    <div class="post_user_name">
                        <a href="profile.html">Petya</a>
                    </div>
                    <div class="post_user_friends">
                        with <a href="friend_profile.html">Friend's name</a> and 15 others
                    </div>
                    <div class="post_minutes_ago">
                        4hr.
                    </div>
                </div>
            </div>
            <div class="post_content">
            </div>
            <div class="like_comment_share">
                <button id="like">Like</button>
                <button id="comment">Comment</button>
                <button id="share">Share</button>
            </div>
            <div class="likes">
                <a href="another-user.html">Petar</a> and 5 others liked this
            </div>
        </div>
        <div class="post">
            <div class="post_user_info">
                <div class="avatar">
                    <img src="images/avatar.png"/>
                </div>
                <div class="post_user_info_text">
                    <div class="post_user_name">
                        <a href="profile.html">Petya</a>
                    </div>
                    <div class="post_user_friends">
                        with <a href="friend_profile.html">Friend's name</a> and 15 others
                    </div>
                    <div class="post_minutes_ago">
                        4hr.
                    </div>
                </div>
            </div>
            <div class="post_content">
            </div>
            <div class="like_comment_share">
                <button id="like">Like</button>
                <button id="comment">Comment</button>
                <button id="share">Share</button>
            </div>
            <div class="likes">
                <a href="another-user.html">Petar</a> and 5 others liked this
            </div>
        </div>
    </div>
    <div id="sidebar_right">
    </div>
</div>
</body>
</html>