<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link th:href="@{css/forgottenPasswordPage.css}" rel="stylesheet"/>

</head>
<body>


<div class="form">
  
  <h1 class="forgotten-password">Забравихте паролата си?</h1>
  <h4 class="password-text-reset"><center>Ще изпратим код за промяна на паролата ви на имейл адрес.</center><h4>     

  <div class="input-group">
     <label class="label">Имейл адрес</label>
     <input class="input--style-4" type="email" name="email">
  </div>

  
  <div class="p-t-15">
     <button class="btn btn--radius-2 btn--blue" style="width: 60%">Напред</button>
  </div>
  
</div>


</body>
</html>