<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link th:href="@{css/forgottenPasswordPage.css}" rel="stylesheet"/>
</head>
<body>

<form method="post" action="/sendMail">
    <div class="form">

        <h1 class="forgotten-password">Oops! Forgot your password?</h1>
        <h4 class="password-text-reset">
            <center>We will send confirmation email.</center>
            </h4>

                <div class="input-group">
                    <label class="label">Email</label>
                    <input class="input--style-4" type="email" name="email">
                </div>


                <div class="p-t-15">
                    <input type="submit" value="Send" class="btn btn--radius-2 btn--blue" style="width: 60%">
                </div>

    </div>
</form>

</body>
</html>