<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link th:href="@{css/loginSection.css}" rel="stylesheet"/>

</head>
<body>


<div class="form">
  
  <div class = "userImage">
    <img src="https://www.accountingweb.co.uk/sites/all/modules/custom/sm_pp_user_profile/img/default-user.png" class="user"> 
  </div>                           

  
  <div class="input-group">
     <label class="label">Имейл адрес</label>
     <input class="input--style-4" type="email" name="email">
  </div>

  <div class="input-group">
     <label class="label">Парола</label>
     <input class="input--style-4" type="password" name="password">
  </div>


  <input type="checkbox" value="lsRememberMe" id="rememberMe" style="float: right; margin-left: 1.5%; margin-top: 3.35%;"> 
  <label for="rememberMe" style="float: right;  margin-top: 2.80%;">Запомни ме</label>

  <div class="passwordForgot">
    <a href=" " style="">Забравена парола?</a>
  </div>

  <div class="p-t-15">
     <button class="btn btn--radius-2 btn--blue" type="submit" style="margin-top: 7%; width: 45%;">Напред</button>
  </div>   

  <a class="noProfile">Нямате профил?</a>


  <div class="p-t-15">
     <button class="btn btn--radius-2 btn--blue" style="width: 45%">Регистрация</button>
  </div>

  
</div>


</body>
</html>