<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form method="post" action="/login">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Log in">
    <label for="remember"> remember me
    <input type="checkbox" name="remember" id="remember">
    </label>
</form>

</body>
</html>