<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<link rel="stylesheet" th:href="@{css/profile-style.css}">
<link rel="stylesheet" th:href="@{css/user-menu-style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div>
    <div class="menu">
        <form action="/searchUsers" method="post">
            <input type="text" name="name" class="search-bar" placeholder="Search">
            <button type="submit" class="fa fa-search search-button"></button>
        </form>
        <div class="user-buttons">
            <a th:href="@{${authUser.getId()}}">
                <img th:if="${authUser.getProfilePicture()!=null}"
                     th:src="${authUser.getProfilePicture().getImageURL()}"
                     alt="User Profile Picture" class="user-bar-photo">
                <img th:if="${authUser.getProfilePicture() == null}" src="../images/profile-pic.png" alt=""
                     class="user-bar-photo">
                <span th:text="${authUser.getFirstName()}"></span>
            </a>
            <a th:href="@{/home}">Home</a>
            <button class="fa fa-user"></button>
            <button class="fa fa-envelope"></button>
            <button class="fa fa-bell"></button>
            <button onclick="show_hide_more()" class="fa fa-bars more-button" id></button>
            <a th:href="@{/logout}">Logout</a>
            <div id="more-button-drop-down" style="display: none">
                <a th:href="@{/logout}">Logout</a>
            </div>
            <script>
                function show_hide_more() {
                    let click = document.document.getElementById("more-button-drop-down";
                    if (click.style.display === "none") {
                        click.style.display = "block";
                    } else
                        click.style.display = "none";
                }
            </script>
        </div>
    </div>
    <div class="main-container">
        <div class="profile-base-info">
            <div class="cover">
                <img th:if="${user.getBackPicture()!=null}" th:src="${user.getBackPicture().getImageURL()}"
                     alt="Cover Photo" class="cover-photo">
                <img th:if="${user.getBackPicture() == null}" src="../images/cover-banner.png" alt=""
                     class="cover-photo">
                <th:block th:if="${!friends.contains(authUser) && !user.equals(authUser) && friendRequest == null}">
                    <form action="/sendFriendRequest" method="post">
                        <input type="number" th:value="${user.getId()}" name="userId">
                        <button type="submit">Add friend</button>
                    </form>
                </th:block>
                <th:block
                        th:if="${friendRequest != null && !user.equals(authUser) && friendRequest.getReceiver().equals(authUser)}">
                    <form action="/acceptRequest" method="post">
                        <input type="number" th:value="${user.getId()}" name="userId">
                        <button type="submit">Accept Request</button>
                    </form>
                </th:block>
                <th:block
                        th:if="${friendRequest != null && !user.equals(authUser) && friendRequest.getRequester().equals(authUser)}">
                    <form action="/cancelRequest" method="post">
                        <input type="number" th:value="${user.getId()}" name="userId">
                        <button type="submit">Cancel Request</button>
                    </form>
                </th:block>
                <th:block th:if="${friends.contains(authUser) && !user.equals(authUser)}">
                    <form action="/removeFriend" method="post">
                        <input type="number" th:value="${user.getId()}" name="userId">
                        <button type="submit">Remove Friend</button>
                    </form>
                </th:block>
            </div>
            <img th:if="${user.getProfilePicture() !=null}" th:src="${user.getProfilePicture().getImageURL()}"
                 alt="profile pic" class="profile-pic">
            <img th:if="${user.getProfilePicture() == null}" src="../images/profile-pic.png" alt="" class="profile-pic">
            <h2 th:text="${user.getFirstName() + ' ' + user.getSecondName()}"></h2>
        </div>
        <div class="profile-menu">
            <div class="profile-links">
                <a href="#">About</a>
                <a href="#">Friends</a>
                <a href="#">Photos</a>
                <a href="#">More</a>
            </div>
        </div>
        <div>
            <div class="profile-features">
                <div class="profile-details">
                    <h3>About</h3>
                    <p th:if="${user.getCity() != null}" th:text="${'City: ' + user.getCity()}"></p>
                    <p th:if="${user.getDateOfBirth() != null}"
                       th:text="${'Birthday: ' + user.getDateOfBirth()}"></p>
                    <p th:if="${user.getPhoneNumber() != null}"
                       th:text="${'Phone: ' + user.getPhoneNumber()}"></p>
                    <p th:if="${user.getSchool() != null}"
                       th:text="'School: ' + ${user.getSchool()}"></p>
                </div>
                <div class="profile-friends">
                    <h3>Friends</h3>
                    <div>
                        <a th:each="friend : ${friends}" th:href="${'/' + friend.getId()}">
                            <img th:if="${friend.getProfilePicture() != null}"
                                 th:src="${friend.getProfilePicture().getImageURL()}" alt="">
                            <img th:if="${friend.getProfilePicture() == null}" src="../images/profile-pic.png" alt="">
                            <p th:text="${friend.getFirstName() + ' ' + friend.getSecondName()}"></p>
                        </a>
                    </div>
                </div>
                <div class="profile-photos">
                    <h3>Photos</h3>
                    <img th:each="picture : ${user.getProfilePictures()}" th:src="${picture.getImageURL()}" alt="Image">
                </div>
            </div>
        </div>
        <div class="profile-feed">
            <div class="post-creator">
                <form action="/createPost" method="post" enctype="multipart/form-data">
                    <div class="post-info-div">
                        <img th:if="${authUser.getProfilePicture()!=null}"
                             th:src="${authUser.getProfilePicture().getImageURL()}" alt="Profile picture"
                             class="post-pp">
                        <img th:if="${authUser.getProfilePicture() == null}" src="../images/profile-pic.png" alt=""
                             class="post-pp">
                        <input type="text" placeholder="Say something to your friends" class="post-text-field"
                               name="postText">
                    </div>
                    <div class="post-creator-buttons">
                        <input type="file" name="postImage">
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
            <div th:each="post : ${posts}">
                <div class="profile-posts">
                    <div class="post-user-info">
                        <img th:if="${user.getProfilePicture()!=null}"
                             th:src="${user.getProfilePicture().getImageURL()}" alt="Profile picture" class="post-pp">
                        <img th:if="${user.getProfilePicture() == null}" src="../images/profile-pic.png" alt=""
                             class="post-pp">
                        <h3 th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}"></h3>
                    </div>
                    <div class="post-content">
                        <p th:text="${post.getText()}"></p>
                        <img th:if="${post.getPicture() != null}" th:src="${post.getPicture().getImageURL()}"
                             alt="Image">
                    </div>
                    <div class="post-buttons" style="display: block">
                        <form action="/likePost" method="post">
                            <input type="number" name="postId" th:value="${post.getId()}" style="display: none">
                            <input type="submit" value="Like" class="like-button">
                        </form>
                        <p th:text="${post.getLikes().size()} + ' people liked this post'"></p>
                    </div>
                    <div class="create-comment ">
                        <img th:src="${authUser.getProfilePicture().getImageURL()}" alt="">
                        <form action="/createComment" method="post" enctype="multipart/form-data" >
                            <input type="text" name="text" class="comment-write-text"
                                   placeholder="Say something about this psot">
                            <input type="number" th:value="${post.getId()}" style="display: none" name="postID">
                            <input type="file" name="commentPhoto">
                            <button type="submit">Comment</button>
                        </form>
                    </div>
                    <div th:each="comment : ${post.getComments()}" class="comments">
                        <img  th:src="${comment.getCommenter().getProfilePicture().getImageURL()}" alt="User picture"
                             class="commenter-profile-photo">
                        <h3 th:text="${comment.getCommenter().getFirstName()}"></h3>
                        <p th:if="${comment.getText()!=null && !comment.getText().isEmpty()}" class="comment-text"
                           th:text="${comment.getText()}"></p>
                        <img  th:if="${comment.getPicture() != null}" th:src="${comment.getPicture().getImageURL()} " class="comments-photo" alt="">
                        <form action="/likeComment">
                            <input type="number" th:value="${comment.getId()}" style="display: none">
                            <button type="submit">Like</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
</html>