<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<link rel="stylesheet" th:href="@{css/profile-style.css}">
<link rel="stylesheet" th:href="@{css/user-menu-style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
<div>
    <div class="menu">
        <form action="">
            <input type="text" name="search-bar" class="search-bar" placeholder="Search">
            <button type="submit" class="fa fa-search search-button"></button>
        </form>
        <div class="user-buttons">
            <a th:href="@{/1}">
                <img th:src="${user.getProfilePicture()}" alt="User Profile Picture" class="user-bar-photo">
                <span th:text="${user.getFirstName()}"></span>
            </a>
            <a th:href="@{/home}">Home</a>
            <button class="fa fa-user"></button>
            <button class="fa fa-envelope"></button>
            <button class="fa fa-bell"></button>
            <button class="fa fa-bars"></button>
        </div>
    </div>
    <div class="main-container">
        <div class="profile-base-info">
            <div class="cover">
                <img th:src="${user.getBackPicture()}" alt="Cover Photo" class="cover-photo">
            </div>
            <img th:src="${user.getProfilePicture()}" alt="profile pic" class="profile-pic">
            <h2 th:text="${user.getFirstName() + ' ' + user.getSecondName()}"></h2>
        </div>
        <div class="profile-menu">
            <div class="profile-links">
                <a href="#">About</a>
                <a href="#">Friends</a>
                <a href="#">Photos</a>
                <a href="#">More</a>
            </div>
        </div>
        <div>
            <div class="profile-features">
                <div class="profile-details">
                    <h3>About</h3>
                    <p th:if="${user.getCity() != null}" th:text="${'City: ' + user.getCity()}"></p>
                    <p th:if="${user.getDateOfBirth() != null}"
                       th:text="${'Birthday: ' + user.getDateOfBirth()}"></p>
                    <p th:if="${user.getPhoneNumber() != null}"
                       th:text="${'Phone: ' + user.getPhoneNumber()}"></p>
                    <p th:if="${user.getSchool() != null}"
                       th:text="'School: ' + ${user.getSchool()}"></p>
                </div>
                <div class="profile-friends">
                    <h3>Friends</h3>
<!--                    this needs user's friends-->
<!--                    <div th:with="friendCount = ${0}" th:if="${user.getFriends().size() > 0 && ${friendCount <= 9}}" th:each="friend : ${user.getFriends()}">-->
<!--                        <a th: th:href="${/} + ${friend.getUserId()}">-->
<!--                            <img th:src="friend.getUser().getProfilePicture()" alt="">-->
<!--                            <span th:with="friendCount++" th:text="${friend.getUser().getFirstName() + ' ' + ${friend.getUser().getSecondName()}}"></span>-->
<!--                        </a>-->
<!--                    </div>-->
                </div>
                <div class="profile-photos">
                    <h3>Photos</h3>
                </div>
            </div>
            <div class="profile-feed">
                <div class="post-creator">
                    <form>
                        <div class="post-info-div">
                            <img th:src="${user.getProfilePicture()}" alt="Profile picture" class="post-pp">
                            <input type="text" placeholder="Say something to your friends" class="post-text-field">
                        </div>
                        <div class="post-buttons">
                            <button>Image</button>
                            <button>Tag Friend</button>
                            <button type="submit">Post</button>
                        </div>
                    </form>
                </div>
                <div class="profile-posts">
                    <img th:src="${user.getProfilePicture()}" alt="Profile picture" class="post-pp">
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>