<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="/register">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name = "username" placeholder="username">
        <input type="text" name = "email" placeholder="email">
        <input type="text" name = "phone" placeholder="phone">
        <input type="password" name = "password" placeholder="password">
        <input type="password" name = "passwordTest" placeholder="repeat password">
        <input type="submit">
    </form>
</body>
</html>