<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link th:href="@{css/RequestAndFriendsList.css}" rel="stylesheet"/>

</head>
<body>



<div class="form" style="overflow-y: scroll;">
 <h1 class="Requests"><center>Friend Requests</center></h1>
  
 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">user1236564</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Decline</button>
  </div> 

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--green" type="submit" style="width: 23%; float: right; margin-right: 2%;">Accept</button>
  </div>    

 </div>

 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">user123saddasda</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Decline</button>
  </div> 

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--green" type="submit" style="width: 23%; float: right; margin-right: 2%;">Accept</button>
  </div>    

 </div>

 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">user123aaaaaaa</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Decline</button>
  </div> 

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--green" type="submit" style="width: 23%; float: right; margin-right: 2%;">Accept</button>
  </div>    

 </div>

 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">user123</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Decline</button>
  </div> 

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--green" type="submit" style="width: 23%; float: right; margin-right: 2%;">Accept</button>
  </div>    

 </div>

 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">user1231231231231223user</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Decline</button>
  </div> 

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--green" type="submit" style="width: 23%; float: right; margin-right: 2%;">Accept</button>
  </div>    

 </div>

<div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">user123</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Decline</button>
  </div> 

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--green" type="submit" style="width: 23%; float: right; margin-right: 2%;">Accept</button>
  </div>    

 </div>


</div>



<div class="form" style="overflow-y: scroll;">
 
 <h1 class="Requests"><center>Sent Friend Requests</center></h1>

 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">unknown123</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Delete</button>
  </div> 
 
 </div>
  
</div>



<div class="form" style="overflow-y: scroll;">
 
  <h1 class="Requests"><center>Friend List</center></h1>

 <div class="friendRequests">
   <img src="demoUser.jpg" class="demoUser">

   <h2 class="username">Gosho</h2>

   <div class="p-t-15">
     <button class="btn btn--radius-2 btn--red" type="submit" style="width: 23%; float: right;">Block</button>
  </div> 
 
 </div>

</div>


</body>
</html>