<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/searchUser-style.css}" rel="stylesheet" />
</head>
<body>

<ul>

    <ul th:each="user: ${fullMatchUsers}">
        <li>
            <img th:if="${user.getProfilePicture().getImageURL()!=null}" th:src="${user.getProfilePicture().getImageURL()}">
            <a th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}" th:href="@{${user.getId()}}"></a>
            <form action="/sendFriendRequest" method="post">
                <input type="text" name="userId" th:value="${user.getId()}" style="display: none">
                <input type="submit" value="Add friend">
            </form>
        </li>
    </ul>
    <h1>SECOND</h1>
    <ul th:each="user: ${firstNameMatchUsers}">
        <li th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}">

        </li>
    </ul>
    <h1>SECOND</h1>
    <ul th:each="user: ${secondNameMatchUsers}">
        <li th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}"></li>
    </ul>


    <li>
        <img src="../static/images/images.jpg">
        <a href="/searchUsers">Georgi Damon</a>
        <input type="submit" formaction="/sendFriendRequest" value="Add friend">
    </li>
</ul>

</body>
</html>




src/main/resources/static/images/avatar.png













