<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/searchUser-style.css}" rel="stylesheet" />
</head>
<body>

<ul>

    <ul th:each="user: ${fullMatchUsers}">
        <li>
<!--    <img th:src="@{resources/static/images/avatar.png}">-->

            <a th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}" th:href="@{${user.getId()}}"></a>
        </li>
    </ul>
    <h1>SECOND</h1>
    <ul th:each="user: ${firstNameMatchUsers}">
        <li th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}">

        </li>
    </ul>
    <h1>SECOND</h1>
    <ul th:each="user: ${secondNameMatchUsers}">
        <li th:text="${user.getFirstName()} + ' ' + ${user.getSecondName()}"></li>
    </ul>


    <li>
        <img src="../static/images/images.jpg">
        <a href="/searchUsers">Georgi Damon</a>
        <input type="submit" formaction="/sendFriendRequest" value="Add friend">
    </li>
</ul>

</body>
</html>




src/main/resources/static/images/avatar.png













